{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier les informations de {{ serie.title }}</h1>

    {{ form_start(edit_form, {'attr': {'class': 'col-lg-8'}}) }}
    {{ form_row(edit_form.title, {'label': 'Titre de la série'}) }}
    {{ form_row(edit_form.actors, {'label': 'Acteurs'}) }}
    {{ form_row(edit_form.season, {'attr': {'min': '1', 'max': '20'}, 'label': 'N° de saison'}}) }}
    {#{{ form_row(edit_form.episodes, {'label': 'Episodes'}) }}#}
    {{ form_row(edit_form.summary, {'label': 'Synopsis'}) }}
    {{ form_row(edit_form.comments, {'label': 'Commentaires'}) }}
    {{ form_row(edit_form.note, {'attr': {'min': '0', 'max': '10'}, 'label': 'Note (entre 0 et 10)'}}) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <button type="button" class="btn btn-default">
        <a href="{{ path('serie_index') }}">Retour à la liste des séries</a>
    </button>

    <button type="button" class="btn btn-default">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </button>

{% endblock %}
