{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des séries</h1>

    <table>
        <thead>
            <tr>

                <th>Id</th>
                <th>Titre</th>
                <th>Genre</th>
                <th>Saisons</th>
                {#<th>Episodes</th>#}
                <th>Synopsis</th>
                <th>Commentaires</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>

                <td><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.id }}</a></td>
                <td>{{ serie.title }}</td>
                <td>{{ serie.genre }}</td>
                <td>{{ serie.seasons }}</td>
                {#<td>{{ serie.episodes }}</td>#}
                <td>{{ serie.summary }}</td>
                <td>{{ serie.comments }}</td>
                <td>{{ serie.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('serie_show', { 'id': serie.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('serie_new') }}">Proposer une nouvelle série</a>
        </li>
    </ul>
{% endblock %}
