{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proposition d'une série</h1>

    {{ form_start(form) }}
        {{ form_row(form.title, {'label': 'Titre de la série'}) }}
        {#{{ form_row(form.actors, {'label': 'Acteurs'}) }}#}
        {{ form_row(form.season, {'label': 'Saisons'}) }}
        {{ form_row(form.genre, {'label': 'Genre'}) }}
        {#{{ form_row(form.episodes, {'label': 'Episodes'}) }}#}
        {{ form_row(form.summary, {'label': 'Synopsis'}) }}
        {{ form_row(form.poster) }}
        <input type="submit" value="Proposer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Retour à la liste des séries</a>
        </li>
    </ul>
{% endblock %}
