{% for serie in series %}

    <div class="col-lg-4">

        <a href="/serie/{{ serie.id }}">
            <img align="left" id="posterHome" src="{{ asset(serie.poster)}}" alt="{{ serie.title }}"><br/>
        </a>

        <strong>Proposée le {{ serie.date }} par {{ serie.author }} :</strong>
        {{ serie.summary | slice(0,140) }}...
        <p><a href="/serie/{{ serie.id }}">Voir la série</a></p>

    </div>
{% endfor %}
