{% extends 'base.html.twig' %}

{% block body %}

    <!-- Barre de recherche centrale -->
    {% block navbar_central %}
        {% include 'navbar_central.html.twig' %}
    {% endblock %}

    <!-- Titre de la série -->
    <div class="col-lg-12">
        <h1>{{ serie.title }}</h1>
    </div>

    <!-- Bloc acteurs -->
    <div class="col-lg-4">
        <div class="actorBlock">
            <div class="miniBlockTitle text-center">
                <h4>Acteurs</h4>
            </div>
            {% for actor in serie.actors %}
                <div class="miniBlockActor text-center">
                    {#Ajouter {{ path('actor_show', { 'id': actor.id }) }} dans le href="" #}
                    <a href="#">
                        <div class="actorPicture text-center">
                            <figure>
                                {# Ajouter {{ actor.picture }} à la place de src='' #}
                                <img align="center" src="{{ asset ('bundles/appBundle/images/PhotoProfilHomme.jpg')}}" alt="{{ actor.firstname ~ ' ' ~  actor.lastname }}"><br/>
                            </figure>
                        </div>
                        {#<div class="actorName text-center">#}
                        {#{{ actor.firstname ~ ' ' ~  actor.lastname }}#}
                        {#</div>#}
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Affichage conditionnel bouton Proposer un épisode, si user connecté -->
        {% if app.user.username is defined %}
            <a href="{{ path('episode_new', { 'id': serie.id }) }}">
                <button type="button" class="btn btn-default btn-lg propSerieBtn">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un épisode
                </button>
            </a>
        {% endif %}

    </div>

    <div class="col-lg-8">
        <table>
            <tbody>
            <tr>
                <th>Nombre de saisons</th>
                <td>{{ serie.season }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ serie.summary }}</td>
            </tr>

            <tr>
                <th>Commentaires</th>
                <td>{{ serie.comments }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ serie.note }}</td>
            </tr>
            <tr>
                <th>Episodes</th>
                <td><ul>{% for episode in serie.episodes %}
                            <a href="{{ path('episode_show', {'id' : episode.id }) }}"><li>{{ episode.title }}</li></a>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><a href="{{ path('serie_index') }}">Retour à la liste des séries</a></p>
    <p><a href="{{ path('serie_edit', { 'id': serie.id }) }}">Modifier</a></p>

    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

    <!-- Affichage conditionnel bouton Publier un commentaire, si user connecté -->
    {% if app.user.username is defined %}
        <a href="{{ path('post_new') }}">
            <button type="button" class="btn btn-default btn-lg propSerieBtn">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Publier un commentaire
            </button>
        </a>
    {% endif %}

{% endblock %}
