{% extends 'base.html.twig' %}

{% block body %}

    <!-- Barre de recherche centrale -->
    {% block navbar_central %}
        {% include 'navbar_central.html.twig' %}
    {% endblock %}

    <h1>Série</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ serie.title }}</td>
            </tr>
            <tr>
                <th>Acteurs</th>
                <td><ul>{% for actor in serie.actors %}
                        <li>{{ actor }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Saisons</th>
                <td>{{ serie.season }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ serie.summary }}</td>
            </tr>

            <tr>
                <th>Commentaires</th>
                <td>{{ serie.comments }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ serie.note }}</td>
            </tr>
            <tr>
                <th>Episodes</th>
                <td><ul>{% for episode in serie.episodes %}
                            <a href="{{ path('episode_show', {'id' : episode.id }) }}"><li>{{ episode.title }}</li></a>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Affichage conditionnel bouton Proposer un épisode, si user connecté -->
    {% if app.user.username is defined %}
        <a href="{{ path('episode_new', { 'id': serie.id }) }}">
            <button type="button" class="btn btn-default btn-lg propSerieBtn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un épisode
            </button>
        </a>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Retour à la liste des séries</a>
        </li>
        <li>
            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
