{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification d'un commentaire</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.content, {'label': 'Contenu'}) }}
    {{ form_row(edit_form.note, {'label': 'Note'}) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}


    <a href="{{ path('homepage') }}">Retour à l'accueil</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
