{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des posts (commentaire et résumé)</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>Langue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.note }}</td>
                <td>{% if post.language %}{{ post.language|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Créer un nouveau post</a>
        </li>
    </ul>
{% endblock %}
