{% for post in posts %}

    <div class="col-lg-4">
        <a href="{{ path('post_show', {'id': post.id }) }}">
            <img align="left" id="avatar" src="{{ asset('/images/' ~ post.author.picture) }}" alt="{{ post.author.username }}"><br/>
        </a>

        <strong>Posté le {{ post.date }} par {{ post.author }} :</strong>
        {{ post.content | slice(0,140) }}...
        <a href="{{ path('post_show', {'id': post.id }) }}">Lire la suite</a>
    </div>
{% endfor %}
