{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire de {{ post.author }}</h1>

    <strong>Posté le {% if post.date %} à {{ post.date }}{% endif %}</strong>

    <!-- Note du commentaire (étoiles) -->
    <span class="starsNote">
        {% for i in 0..post.note %}
            <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
    </span>


    <div class="col-lg-4">
        <img align="left" id="avatar" src="{{ asset(post.author.picture)}}"><br/>
    </div>



    <i class="fa fa-comment fa-3x"></i>
    <p>{{ post.content }}</p>

    <input type="button" class="btn" value="Noter le commentaire">


                {#<td>{% if post.language %}{{ post.language|join(', ') }}{% endif %}</td>#}
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Retour à la liste des posts</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
