{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail du post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if post.date %}{{ post.date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ post.note }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{% if post.language %}{{ post.language|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Retour à la liste des posts</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
