{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Airdate</th>
                <th>Length</th>
                <th>Season</th>
                <th>Summary</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td><a href="{{ path('episode_show', { 'id': episode.id }) }}">{{ episode.id }}</a></td>
                <td>{{ episode.title }}</td>
                <td>{% if episode.airdate %}{{ episode.airdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ episode.length }}</td>
                <td>{{ episode.season }}</td>
                <td>{{ episode.summary }}</td>
                <td>{{ episode.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('episode_show', { 'id': episode.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
