{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des épisodes</h1>

    <table>
        <thead>
            <tr>
                <th>Titre de l'épisode</th>
                <th>Date de diffusion</th>
                <th>Saison</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td><a href="{{ path('episode_show', { 'id': episode.id }) }}">{{ episode.id }}</a></td>
                <td>{{ episode.title }}</td>
                <td>{% if episode.airdate %}{{ episode.airdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ episode.season }}</td>
                <td>{{ episode.summary }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('episode_show', { 'id': episode.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_new') }}">Proposer un épisode</a>
        </li>
    </ul>
{% endblock %}
