{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un épisode à {{ serie.title }}</h1>

    {{ form_start(form, {'attr': {'class': 'col-lg-8'}}) }}
        {{ form_row(form.title, {'label': 'Titre de l\'épisode'}) }}
        {{ form_row(form.airdate, {'label': 'Date de diffusion'}) }}
        {{ form_row(form.season, {'attr': {'min': '1', 'max': '20'}, 'label': 'N° de saison'}) }}
        {{ form_row(form.summary, {'label': 'Synopsis'}) }}
        <input type="submit" value="Proposer l'épisode" class="btn btn-default"/>
    {{ form_end(form) }}

    <a href="{{ path('serie_show', {'id': serie.id}) }}"><< Retour à la série</a>
{% endblock %}
